#header {
    transition: all 0.5s ease;
}

.moviesBackdrop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.stickyHeader {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}

.flexgrow0 {
    // animation: mymove 3s;
    animation-fill-mode: forwards;
    flex-grow: 0 !important;
    transition: all 2s;
}

.flexgrow1 {
    // animation: mymove 3s;
    animation-fill-mode: forwards;
    flex-grow: 1;
    transition: all 2s;
}

.dissapearText {
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from {
        right: 0px;
    }

    to {
        right: 200px;
        // display: none;
        // background-color: blue;
        opacity: 0;
    }
}